/* Global Styles */

body {
    background-color: #f0f8ff;
    color: darkslategrey;
    font-family: 'Josefin Sans', sans-serif;
    border: 0;
    margin: 0;
    padding: 0;
}

/* Page Title Section */

#page-title-wrapper {
    width: 100%;
}

#page-title {
    text-align: center;
    font-size: xx-large;
}

#title-headline {
    text-align: center;
    font-size: xx-large;
}